fastapi~=0.115.9
uvicorn[standard]
pydantic~=2.10.6
transformers~=4.49.0
torch
python-multipart
openai~=1.62.0
python-dotenv~=1.0.1
langchain
tiktoken
pypdf
docx2txt
SQLAlchemy~=2.0.38
psycopg2-binary